.home-content .row {
    padding: 5px;
}

.content {
    display: flex;
}

.content .cover {
    width: 30%;
    height: 100px;
}

.content .cover .profile {
    width: 100%;
    height: 100%;
    background: rgb(17, 110, 138);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.content .title {
    width: 100%;
    padding: 4px;
    display: flex;
    justify-content: space-between;
}

.content .title .title-info h2 {
    color: rgb(17, 110, 138);
}

.content .title .title-info h5 {
    font-weight: 700;
}

.content .title .title-info h5 p {
    font-weight: 400;
}

.actions {
    padding-top: 1rem;
}

.actions button {
    margin: 3px 2px;
}

.actions .buy {
    margin-bottom: 4px;
    background: rgb(22, 122, 22);
    color: #ffffff;
}

.report {
    display: flex;
    text-align: end;
}

.header {
    align-items: center;
    text-align: center;
    margin: 5px;
}

mat-card {
    margin: 3px;
}