.report-container {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.report-container .report_form {
    width: 100%;
    height: auto;
    padding-top: 2rem;
}

.title {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.title h2 {
    font-weight: 800;
}